<div [class]="panelClasses()" role="dialog" [attr.aria-modal]="'true'" [attr.aria-label]="palette.ariaLabel()">
  <div [class]="searchWrapperClasses()">
    <svg [class]="searchIconClasses()" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
    </svg>
    <input
      #searchInput
      type="text"
      role="combobox"
      [class]="searchInputClasses()"
      [placeholder]="palette.placeholder()"
      [value]="palette.query()"
      (input)="onSearchInput($event)"
      [attr.aria-label]="palette.searchAriaLabel()"
      [attr.aria-expanded]="'true'"
      [attr.aria-controls]="listId"
      [attr.aria-activedescendant]="palette.activeItemId()"
      autocomplete="off"
      spellcheck="false"
    />
  </div>
  <div [class]="listClasses()" role="listbox" [id]="listId">
    @if (palette.grouped().length === 0) {
      @if (palette.emptyTemplate(); as emptyTpl) {
        <div [class]="emptyClasses()">
          <ng-container [ngTemplateOutlet]="emptyTpl" [ngTemplateOutletContext]="{ $implicit: palette.query() }" />
        </div>
      } @else {
        <div [class]="emptyClasses()">No results found</div>
      }
    } @else {
      @for (group of palette.grouped(); track group.id) {
        <div role="group" [attr.aria-label]="group.label ?? null">
          @if (group.label) {
            <div [class]="groupHeaderClasses()" role="presentation">{{ group.label }}</div>
          }
          @for (item of group.items; track item.data.id) {
            <div
              [id]="item.data.id"
              role="option"
              [class]="itemClasses(item.data.id === palette.activeItemId(), item.data.disabled ?? false)"
              [attr.aria-selected]="item.data.id === palette.activeItemId()"
              [attr.aria-disabled]="(item.data.disabled ?? false) ? 'true' : null"
              (click)="onItemClick(item)"
              (mousemove)="onItemHover(item)"
            >
              <span [class]="itemBodyClasses()">
                @if (item.template; as tpl) {
                  <span [class]="itemLabelClasses()">
                    <ng-container [ngTemplateOutlet]="tpl" />
                  </span>
                } @else {
                  <span [class]="itemLabelClasses()">{{ item.data.label }}</span>
                }
                @if (item.data.description) {
                  <span [class]="itemDescriptionClasses()">{{ item.data.description }}</span>
                }
              </span>
              @if (item.shortcutKeys.length > 0) {
                <span [class]="itemShortcutClasses()" aria-hidden="true">
                  @for (key of item.shortcutKeys; track $index) {
                    <kbd [class]="itemKbdClasses()">{{ key }}</kbd>
                  }
                </span>
              }
            </div>
          }
        </div>
      }
    }
  </div>
  @if (palette.footerTemplate(); as footerTpl) {
    <div [class]="footerClasses()">
      <ng-container [ngTemplateOutlet]="footerTpl" />
    </div>
  }
</div>
