<div [class]="controlWrapperClasses()">
  <ng-content select="[twPrefix]" />
  <ng-content select="[twPrefixIcon]" />
  <div #infix [class]="infixClasses()">
    <ng-content />
  </div>
  <ng-content select="[twSuffix]" />
  <ng-content select="[twSuffixIcon]" />
  @if (shouldRenderLabelWrapper()) {
    <div [class]="labelWrapperClasses()" [style.left]="labelLeft()">
      <ng-content select="[twLabel]" />
      @if (!hideRequiredMarker() && isRequired()) {
        <span [class]="requiredMarkerClasses()" aria-hidden="true">*</span>
      }
    </div>
  }
</div>

@if (shouldRenderSubscript()) {
  <div [class]="subscriptWrapperClasses()">
    @if (subscriptMode() === 'error') {
      <ng-content select="[twError]" />
    } @else {
      <ng-content select="[twHint]" />
    }
  </div>
}
